* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  padding: 20px;
}

.block {
  display: flex;
  justify-content: space-between;
}

.btns {
  display: flex;
}

.btnDays {
  width: 122px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkgrey;
  border-radius: 2px;
  cursor: pointer;
}

.span {
  height: 100%;
  display: flex;
  align-items: center;
  background: #bebebe;
  color: white;
  padding: 0px 5px 0px 5px;
}

.btnDays:hover {
  /*background-color: #588df2*/
  background-color: dodgerblue;
  color: white;
}

.selectedDay {
  background-color: dodgerblue;
  color: white;
}

.input {
  width: 33%;
  height: 20px;
}

.blockItm {
  display: flex;
  justify-content: space-between;
  width: 31%;
}


.borderLeftRadius {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.borderRightRadius {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.selectsBlock {
  display: flex;
  justify-content: space-between;
}

.teacherItem {
  width: 66%;
}

.auditoryItem {
  width: 31%;
}

.notification {
  padding: 10px 10px;
  background-color: #ffdbe7;
}

.btnsControl {
  display: flex;
  justify-content: flex-end;
}

.submit {
  float: right;
  background-color: white;
  border: 1px solid #bebebe;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
/*button::after {*/
/*  content: "|";*/
/*  color: black;*/
/*  height: 15px;*/
/*  margin-right: 5px;*/
/*  position: absolute;*/
/*  right: 20px;*/
/*}*/
